@import "tailwindcss";

/* Optional: smooth color transitions */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  body {
    @apply bg-white text-gray-900;
  }

  .dark body {
    @apply bg-gray-900 text-gray-100;
  }
}

:root{
--max-w: 1300px;
}


.container{ max-width: var(--max-w); }


.btn{ @apply bg-sky-600 text-white px-4 py-2 rounded shadow; }
.btn-outline{ @apply border px-4 py-2 rounded; }


/* simple dark mode example */
/* .dark body { background: #e1e2e3 } */
/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Smooth scroll globally */
html {
  scroll-behavior: smooth;
}
