@import "tailwindcss";

@theme {
  /* You can extend theme colors or fonts here if needed */
}

/* Optional: smooth transition between themes */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}


:root{
--max-w: 1100px;
}


.container{ max-width: var(--max-w); }


.btn{ @apply bg-sky-600 text-white px-4 py-2 rounded shadow; }
.btn-outline{ @apply border px-4 py-2 rounded; }


/* simple dark mode example */
.dark body { background: #e1e2e3 }